In [1]:
require('tidyverse')
library('readxl')

Loading required package: tidyverse

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [10]:
readxl_example("deaths.xlsx")

[1] "/home/hk-user/R/x86_64-pc-linux-gnu-library/4.0/readxl/extdata/deaths.xlsx"

In [9]:
//home//hk-user//R//x86_64-pc-linux-gnu-library//4.0//readxl//extdata//clippy.xlsx

ERROR: Error in parse(text = x, srcfile = src): <text>:1:1: unexpected '/'
1: /
    ^

In [24]:
# Deaths data 
# 1 - Installed
# 2 - Two tabs, random notes in the top and bottom.
# 3 - 
df_deaths <- read_excel("//home//hk-user//R//x86_64-pc-linux-gnu-library//4.0//readxl//extdata//deaths.xlsx")
excel_sheets("//home//hk-user//R//x86_64-pc-linux-gnu-library//4.0//readxl//extdata//deaths.xlsx")

New names:
* `` -> ...2
* `` -> ...3
* `` -> ...4
* `` -> ...5
* `` -> ...6

[1] "arts"  "other"

In [15]:
print(df_deaths)

# A tibble: 18 x 6
   `Lots of people`        ...2             ...3   ...4   ...5      ...6
   <chr>                   <chr>            <chr>  <chr>  <chr>     <chr>
 1 simply cannot resist w… NA               NA     NA     NA        some notes
 2 at                      the              top    NA     of        their sprea…
 3 or                      merging          NA     NA     NA        cells
 4 Name                    Profession       Age    Has k… Date of … Date of dea…
 5 David Bowie             musician         69     TRUE   17175     42379
 6 Carrie Fisher           actor            60     TRUE   20749     42731
 7 Chuck Berry             musician         90     TRUE   9788      42812
 8 Bill Paxton             actor            61     TRUE   20226     42791
 9 Prince                  musician         57     TRUE   21343     42481
10 Alan Rickman            actor            69     FALSE  16854     42383
11 Florence Henderson      actor            82     TRUE   12464     42698
12 Harper Lee              author           89     FALSE  9615      42419
13 Zsa Zsa Gábor           actor            99     TRUE   6247      42722
14 George Michael          musician         53     FALSE  23187     42729
15 Some                    NA               NA     NA     NA        NA
16 NA                      also like to wr… NA     NA     NA        NA
17 NA                      NA               at the botto… NA        NA
18 NA                      NA               NA     NA     NA        too!

In [25]:
# Columns with no names, NAs, real column names in 4th row.
# 4 -
deaths1 <- read_excel("//home//hk-user//R//x86_64-pc-linux-gnu-library//4.0//readxl//extdata//deaths.xlsx", n_max = 10, skip = 4, sheet = 1)

In [26]:
print(deaths1)

# A tibble: 10 x 6
   Name      Profession   Age `Has kids` `Date of birth`     `Date of death`
   <chr>     <chr>      <dbl> <lgl>      <dttm>              <dttm>
 1 David Bo… musician      69 TRUE       1947-01-08 00:00:00 2016-01-10 00:00:00
 2 Carrie F… actor         60 TRUE       1956-10-21 00:00:00 2016-12-27 00:00:00
 3 Chuck Be… musician      90 TRUE       1926-10-18 00:00:00 2017-03-18 00:00:00
 4 Bill Pax… actor         61 TRUE       1955-05-17 00:00:00 2017-02-25 00:00:00
 5 Prince    musician      57 TRUE       1958-06-07 00:00:00 2016-04-21 00:00:00
 6 Alan Ric… actor         69 FALSE      1946-02-21 00:00:00 2016-01-14 00:00:00
 7 Florence… actor         82 TRUE       1934-02-14 00:00:00 2016-11-24 00:00:00
 8 Harper L… author        89 FALSE      1926-04-28 00:00:00 2016-02-19 00:00:00
 9 Zsa Zsa … actor         99 TRUE       1917-02-06 00:00:00 2016-12-18 00:00:00
10 George M… musician      53 FALSE      1963-06-25 00:00:00 2016-12-25 00:00:00

In [27]:
# 5 - 
deaths2 <- read_excel("//home//hk-user//R//x86_64-pc-linux-gnu-library//4.0//readxl//extdata//deaths.xlsx", n_max = 10, skip = 4, sheet = 2)
print(deaths2)

# A tibble: 10 x 6
   Name      Profession   Age `Has kids` `Date of birth`     `Date of death`
   <chr>     <chr>      <dbl> <lgl>      <dttm>              <dttm>
 1 Vera Rub… scientist     88 TRUE       1928-07-23 00:00:00 2016-12-25 00:00:00
 2 Mohamed … athlete       74 TRUE       1942-01-17 00:00:00 2016-06-03 00:00:00
 3 Morley S… journalist    84 TRUE       1931-11-08 00:00:00 2016-05-19 00:00:00
 4 Fidel Ca… politician    90 TRUE       1926-08-13 00:00:00 2016-11-25 00:00:00
 5 Antonin … lawyer        79 TRUE       1936-03-11 00:00:00 2016-02-13 00:00:00
 6 Jo Cox    politician    41 TRUE       1974-06-22 00:00:00 2016-06-16 00:00:00
 7 Janet Re… lawyer        78 FALSE      1938-07-21 00:00:00 2016-11-07 00:00:00
 8 Gwen Ifi… journalist    61 FALSE      1955-09-29 00:00:00 2016-11-14 00:00:00
 9 John Gle… astronaut     95 TRUE       1921-07-28 00:00:00 2016-12-08 00:00:00
10 Pat Summ… coach         64 TRUE       1952-06-14 00:00:00 2016-06-28 00:00:00

In [29]:
all_deaths <- rbind(deaths1, deaths2)
print(all_deaths)

# A tibble: 20 x 6
   Name      Profession   Age `Has kids` `Date of birth`     `Date of death`
   <chr>     <chr>      <dbl> <lgl>      <dttm>              <dttm>
 1 David Bo… musician      69 TRUE       1947-01-08 00:00:00 2016-01-10 00:00:00
 2 Carrie F… actor         60 TRUE       1956-10-21 00:00:00 2016-12-27 00:00:00
 3 Chuck Be… musician      90 TRUE       1926-10-18 00:00:00 2017-03-18 00:00:00
 4 Bill Pax… actor         61 TRUE       1955-05-17 00:00:00 2017-02-25 00:00:00
 5 Prince    musician      57 TRUE       1958-06-07 00:00:00 2016-04-21 00:00:00
 6 Alan Ric… actor         69 FALSE      1946-02-21 00:00:00 2016-01-14 00:00:00
 7 Florence… actor         82 TRUE       1934-02-14 00:00:00 2016-11-24 00:00:00
 8 Harper L… author        89 FALSE      1926-04-28 00:00:00 2016-02-19 00:00:00
 9 Zsa Zsa … actor         99 TRUE       1917-02-06 00:00:00 2016-12-18 00:00:00
10 George M… musician      53 FALSE      1963-06-25 00:00:00 2016-12-25 00:00:00
11 Vera Rub… scientist     88 TRUE       1928-07-23 00:00:00 2016-12-25 00:00:00
12 Mohamed … athlete       74 TRUE       1942-01-17 00:00:00 2016-06-03 00:00:00
13 Morley S… journalist    84 TRUE       1931-11-08 00:00:00 2016-05-19 00:00:00
14 Fidel Ca… politician    90 TRUE       1926-08-13 00:00:00 2016-11-25 00:00:00
15 Antonin … lawyer        79 TRUE       1936-03-11 00:00:00 2016-02-13 00:00:00
16 Jo Cox    politician    41 TRUE       1974-06-22 00:00:00 2016-06-16 00:00:00
17 Janet Re… lawyer        78 FALSE      1938-07-21 00:00:00 2016-11-07 00:00:00
18 Gwen Ifi… journalist    61 FALSE      1955-09-29 00:00:00 2016-11-14 00:00:00
19 John Gle… astronaut     95 TRUE       1921-07-28 00:00:00 2016-12-08 00:00:00
20 Pat Summ… coach         64 TRUE       1952-06-14 00:00:00 2016-06-28 00:00:00

In [32]:
# Education Data
# 1 - 
edData <- read_excel("HW5_data/censusEd.xlsx", sheet = 1)
print(edData)

# A tibble: 3,198 x 42
   Area_name     STCOU EDU010187F EDU010187D EDU010187N1 EDU010187N2 EDU010188F
   <chr>         <chr>      <dbl>      <dbl> <chr>       <chr>            <dbl>
 1 UNITED STATES 00000          0   40024299 0000        0000                 0
 2 ALABAMA       01000          0     733735 0000        0000                 0
 3 Autauga, AL   01001          0       6829 0000        0000                 0
 4 Baldwin, AL   01003          0      16417 0000        0000                 0
 5 Barbour, AL   01005          0       5071 0000        0000                 0
 6 Bibb, AL      01007          0       3557 0000        0000                 0
 7 Blount, AL    01009          0       7319 0000        0000                 0
 8 Bullock, AL   01011          0       2014 0000        0000                 0
 9 Butler, AL    01013          0       4640 0000        0000                 0
10 Calhoun, AL   01015          0      20939 0000        0000                 0
# … with 3,188 more rows, and 35 more variables: EDU010188D <dbl>,
#   EDU010188N1 <chr>, EDU010188N2 <chr>, EDU010189F <dbl>, EDU010189D <dbl>,
#   EDU010189N1 <chr>, EDU010189N2 <chr>, EDU010190F <dbl>, EDU010190D <dbl>,
#   EDU010190N1 <chr>, EDU010190N2 <chr>, EDU010191F <dbl>, EDU010191D <dbl>,
#   EDU010191N1 <chr>, EDU010191N2 <chr>, EDU010192F <dbl>, EDU010192D <dbl>,
#   EDU010192N1 <chr>, EDU010192N2 <chr>, EDU010193F <dbl>, EDU010193D <dbl>,
#   EDU010193N1 <chr>, EDU010193N2 <chr>, EDU010194F <dbl>, EDU010194D <dbl>,
#   EDU010194N1 <chr>, EDU010194N2 <chr>, EDU010195F <dbl>, EDU010195D <dbl>,
#   EDU010195N1 <chr>, EDU010195N2 <chr>, EDU010196F <dbl>, EDU010196D <dbl>,
#   EDU010196N1 <chr>, EDU010196N2 <chr>

In [38]:
# 2 - 
edData %>% filter(Area_name %in% toupper(state.name)) %>% print()

# A tibble: 50 x 42
   Area_name   STCOU EDU010187F EDU010187D EDU010187N1 EDU010187N2 EDU010188F
   <chr>       <chr>      <dbl>      <dbl> <chr>       <chr>            <dbl>
 1 ALABAMA     01000          0     733735 0000        0000                 0
 2 ALASKA      02000          0     102872 0000        0000                 0
 3 ARIZONA     04000          0     609411 0000        0000                 0
 4 ARKANSAS    05000          0     429260 0000        0000                 0
 5 CALIFORNIA  06000          0    4621126 0000        0000                 0
 6 COLORADO    08000          0     555678 0000        0000                 0
 7 CONNECTICUT 09000          0     445646 0000        0000                 0
 8 DELAWARE    10000          0      98111 0000        0000                 0
 9 FLORIDA     12000          0    1607115 0000        0000                 0
10 GEORGIA     13000          0    1089412 0000        0000                 0
# … with 40 more rows, and 35 more variables: EDU010188D <dbl>,
#   EDU010188N1 <chr>, EDU010188N2 <chr>, EDU010189F <dbl>, EDU010189D <dbl>,
#   EDU010189N1 <chr>, EDU010189N2 <chr>, EDU010190F <dbl>, EDU010190D <dbl>,
#   EDU010190N1 <chr>, EDU010190N2 <chr>, EDU010191F <dbl>, EDU010191D <dbl>,
#   EDU010191N1 <chr>, EDU010191N2 <chr>, EDU010192F <dbl>, EDU010192D <dbl>,
#   EDU010192N1 <chr>, EDU010192N2 <chr>, EDU010193F <dbl>, EDU010193D <dbl>,
#   EDU010193N1 <chr>, EDU010193N2 <chr>, EDU010194F <dbl>, EDU010194D <dbl>,
#   EDU010194N1 <chr>, EDU010194N2 <chr>, EDU010195F <dbl>, EDU010195D <dbl>,
#   EDU010195N1 <chr>, EDU010195N2 <chr>, EDU010196F <dbl>, EDU010196D <dbl>,
#   EDU010196N1 <chr>, EDU010196N2 <chr>

In [50]:
# 3 - 
edDataD <- edData %>% filter(Area_name %in% toupper(state.name)) %>% select(Area_name, ends_with('D'))
edDataD %>% print()

# A tibble: 50 x 11
   Area_name   EDU010187D EDU010188D EDU010189D EDU010190D EDU010191D EDU010192D
   <chr>            <dbl>      <dbl>      <dbl>      <dbl>      <dbl>      <dbl>
 1 ALABAMA         733735     728234     730048     728252     725541     726150
 2 ALASKA          102872     106043     104153     108810     112190     118680
 3 ARIZONA         609411     585756     609562     617753     634201     656286
 4 ARKANSAS        429260     437155     441907     436023     436209     438772
 5 CALIFORNIA     4621126    4488398    4833981    4771978    4949910    5108228
 6 COLORADO        555678     560236     560081     562755     574213     593030
 7 CONNECTICUT     445646     465279     461519     461560     469013     481049
 8 DELAWARE         98111     100002      85786      97698      99672     102511
 9 FLORIDA        1607115    1664774    1720927    1772349    1862185    1931951
10 GEORGIA        1089412    1110947    1107994    1126102    1152386    1177689
# … with 40 more rows, and 4 more variables: EDU010193D <dbl>,
#   EDU010194D <dbl>, EDU010195D <dbl>, EDU010196D <dbl>

In [75]:
# 4 - Yes, those are the top three most populus states.
edDataD %>% select(Area_name, contains("96")) %>% arrange(desc(EDU010196D)) %>% print()

# A tibble: 50 x 2
   Area_name    EDU010196D
   <chr>             <dbl>
 1 CALIFORNIA      5468287
 2 TEXAS           3740260
 3 NEW YORK        2813230
 4 FLORIDA         2179138
 5 ILLINOIS        1956874
 6 OHIO            1837628
 7 PENNSYLVANIA    1787533
 8 MICHIGAN        1631529
 9 GEORGIA         1311126
10 NEW JERSEY      1195076
# … with 40 more rows

In [76]:
# Scores Data
scoresFull <- readr::read_csv("HW5_data/scoresFull.csv")
print(scoresFull)

── Column specification ────────────────────────────────────────────────────────
cols(
  .default = col_double(),
  week = col_character(),
  date = col_character(),
  day = col_character(),
  awayTeam = col_character(),
  homeTeam = col_character(),
  stadium = col_character(),
  startTime = col_time(format = ""),
  toss = col_character(),
  roof = col_character(),
  surface = col_character(),
  attendance = col_character(),
  weather = col_character(),
  vegasLine = col_character(),
  OU = col_character(),
  OUresult = col_character()
)
ℹ Use `spec()` for the full column specifications.

# A tibble: 3,471 x 82
   week  date  day   season awayTeam    AQ1   AQ2   AQ3   AQ4   AOT  AOT2 AFinal
   <chr> <chr> <chr>  <dbl> <chr>     <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>  <dbl>
 1 1     5-Sep Thu     2002 San Fran…     3     0     7     6    -1    -1     16
 2 1     8-Sep Sun     2002 Minnesot…     3    17     0     3    -1    -1     23
 3 1     8-Sep Sun     2002 New Orle…     6     7     7     0     6    -1     26
 4 1     8-Sep Sun     2002 New York…     0    17     3    11     6    -1     37
 5 1     8-Sep Sun     2002 Arizona …    10     3     3     7    -1    -1     23
 6 1     8-Sep Sun     2002 Philadel…    14    10     0     0    -1    -1     24
 7 1     8-Sep Sun     2002 Indianap…     7     7     7     7    -1    -1     28
 8 1     8-Sep Sun     2002 Kansas C…     7     7     3    23    -1    -1     40
 9 1     8-Sep Sun     2002 Seattle …     7     0     0    10    -1    -1     17
10 1     8-Sep Sun     2002 San Dieg…    10    10     7     7    -1    -1     34
# … with 3,461 more rows, and 70 more variables: homeTeam <chr>, HQ1 <dbl>,
#   HQ2 <dbl>, HQ3 <dbl>, HQ4 <dbl>, HOT <dbl>, HOT2 <dbl>, HFinal <dbl>,
#   stadium <chr>, startTime <time>, toss <chr>, roof <chr>, surface <chr>,
#   duration <dbl>, attendance <chr>, weather <chr>, vegasLine <chr>, OU <chr>,
#   AfirstDowns <dbl>, AnetPassYds <dbl>, AtotalYds <dbl>, Aturnovers <dbl>,
#   AtotalPlays <dbl>, HfirstDowns <dbl>, HnetPassYds <dbl>, HtotalYds <dbl>,
#   Hturnovers <dbl>, HtotalPlays <dbl>, OUvalue <dbl>, OUresult <chr>,
#   awayRushAtt <dbl>, awayRushYds <dbl>, awayRushTD <dbl>, awayPassComp <dbl>,
#   awayPassAtt <dbl>, awayPassYds <dbl>, awayPassTD <dbl>, awayPassInt <dbl>,
#   awayTimesSacked <dbl>, awaySackYdsLost <dbl>, awayFum <dbl>,
#   awayFumLost <dbl>, awayNumPen <dbl>, awayPenYds <dbl>, away3rdConv <dbl>,
#   away3rdAtt <dbl>, away4thConv <dbl>, away4thAtt <dbl>, awayTOP <dbl>,
#   homeRushAtt <dbl>, homeRushYds <dbl>, homeRushTD <dbl>, homePassComp <dbl>,
#   homePassAtt <dbl>, homePassYds <dbl>, homePassTD <dbl>, homePassInt <dbl>,
#   homeTimesSacked <dbl>, homeSackYdsLost <dbl>, homeFum <dbl>,
#   homeFumLost <dbl>, homeNumPen <dbl>, homePenYds <dbl>, home3rdConv <dbl>,
#   home3rdAtt <dbl>, home4thConv <dbl>, home4thAtt <dbl>, homeTOP <dbl>,
#   HminusAScore <dbl>, homeSpread <dbl>

In [83]:
# Religion Data

# 1 - It appears to be using a space as a delimiter.

# 2 - 

relig <- readr::read_delim("HW5_data/relig_income.txt", delim = " ")
print(relig)

── Column specification ────────────────────────────────────────────────────────
cols(
  religion = col_character(),
  `<$10k` = col_character(),
  `$10-20k` = col_character(),
  `$20-30k` = col_double(),
  `$30-40k` = col_double(),
  `$40-50k` = col_double(),
  `$50-75k` = col_double()
)


Warning message:
“4 parsing failures.
row col  expected    actual                        file
  5  -- 7 columns 8 columns 'HW5_data/relig_income.txt'
  6  -- 7 columns 8 columns 'HW5_data/relig_income.txt'
  8  -- 7 columns 9 columns 'HW5_data/relig_income.txt'
  9  -- 7 columns 8 columns 'HW5_data/relig_income.txt'
”

# A tibble: 10 x 7
   religion       `<$10k`      `$10-20k` `$20-30k` `$30-40k` `$40-50k` `$50-75k`
   <chr>          <chr>        <chr>         <dbl>     <dbl>     <dbl>     <dbl>
 1 "Agnostic"     27           34               60        81        76       137
 2 "Atheist"      12           27               37        52        35        70
 3 "Buddhist"     27           21               30        34        33        58
 4 "Catholic"     418          617             732       670       638      1116
 5 "Don\x92t"     know/refused 15               14        15        11        10
 6 "Evangelical"  Prot         575             869      1064       982       881
 7 "Hindu"        1            9                 7         9        11        34
 8 "Historically" Black        Prot            228       244       236       238
 9 "Jehovah\x92s" Witness      20               27        24        24        21
10 "Jewish"       19           19               25        25        30        95